.popup {
    margin: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: height 0ms 400ms, opacity 400ms 0ms;
    opacity: 0;
    height: 0;
    display: flex;
}