.profile__avatar-button {
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 3;
}

.profile__avatar-button:hover div {
    display: flex;
}