.popup__container {
    display: flex;
    flex-direction: column;
    min-width: 488px;
    position: absolute;
    align-self: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .popup__container {
        min-width: 282px;
    }
}