.profile__edit-button {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-position: center;
    background-color: black;
    border: 1px solid white;
    margin-top: 37px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 546px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}