.popup__container-form {
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 34px;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .popup__container-form {
        max-width: 282px;
    }
}